@media screen and (min-width: 320px) and (max-width: 425px) {

    audio {
        width: 100%;
    }

    .wrapper {
        padding: 0 25px;
    }

    .header_container {
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        height: auto;
        margin-top: 25px;
        margin-bottom: 90px;
    }

    .header_logo {
        margin-right: 0;
        margin-bottom: 30px;
        width: 60%;
    }

    .header_navigation {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .header_nav_link {
        padding: 15px 25px;
    }


    h1 > span:first-child {
        font-size: 32px;
        line-height: 55px;
    }

    h1 > span:last-child {
        font-size: 42px;
        line-height: 70px;
    }

    h1 {
        margin-bottom: 35px;
    }

    .sec_1 {
        margin-bottom: 130px;
    }

    .sec_1_pictures {
        flex-direction: column;
    }

    .sec_1_pictures > a:not(:last-child) > figure {
        margin-bottom: 30px;
    }

    .sec_1_figcaption {
        padding: 18px 20px;
    }


    h2 {
        font-size: 30px;
        margin-left: 20px;
    }

    .sec_2 {
        margin-bottom: 250px;
    }

    .sec_2_aside {
        margin-right: 0;
    }

    .sec_2_heading {
        margin-bottom: 50px;
    }

    .img_diagram_container {
        width: 20%;
    }

    .sec_2_paragraph {
        margin-bottom: 65px;
    }

    .sec_2_theses {
        flex-direction: column;
    }

    .sec_2_block_top, .sec_2_theses_block:first-child {
        margin-bottom: 20px;
    }

    .sec_2_photos {
        display: none;
    }


    .sec_3_container {
        margin-right: 25px;
        margin-bottom: 130px;
    }

    .sec_3_p_container {
        width: auto;
        padding: 50px 25px;
        z-index: 1;
    }

    .sec_3_foreground_img {
        display: flex;
        z-index: 0;
        opacity: 0.2;
        right: -25px;
        bottom: 103px;
        width: 100%;
    }

    .sec_3_quotes {
        display: none;
    }


    .sec_4_container {
        flex-direction: column-reverse;
    }

    .sec_4_heading {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 30px;
    }

    /* playlist starts */
    .sec_4_tracks_container {
        width: 100%;
    }

    .sec_4_track_list {
        font-size: 16px;
    }

    h4 {
        font-size: 22px;
    }

    div.sec_4_track_list_container {
        margin-bottom: 70px;
    }

    .sec_4_container .sec_4_track_list .sec_4_track_list_item {
        display: flex;
    }
    /* playlist ends */

    .sec_4_follow {
        align-items: baseline;
    }

    div.sec_4_streamings > div:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .sec_4_streamings {
        flex-direction: column;
    }

    .sec_4_main_img_container {
        justify-content: center;
        width: 75%;
        padding: 0;
        margin-top: -240px;
        opacity: 0.2;
    }


    .sec_5_container {
        flex-wrap: wrap;
        margin-bottom: 130px;
    }

    .sec_5_left_block {
        order: 1;
        width: 46%;
        margin-bottom: 25px;
        margin-right: 0;
    }

    .sec_5_right_block {
        order: 2;
        width: 46%;
        margin-bottom: 25px;
    }

    .sec_5_central_left {
        margin-right: 25px;
    }

    .sec_5_central_block_top {
        margin-bottom: 25px;
    }

    .sec_5_central_block {
        order: 3;
        margin-right: 0;
    }

    .sec_5_central_left, .sec_5_central_right {
        margin-right: 0;
        width: 46%;
    }

    .sec_5_figcaption {
        font-size: 18px;
    }


    .sec_6_container {
        width: 100%;
        overflow: hidden;
        margin-bottom: 130px;
    }

    .sec_6_slider_wrapper {
        width: 100%;
    }

    .sec_6_block_container {
        max-width: unset;
        max-height: unset;
        width: 100%;
        margin-right: 50px;
    }

    .sec_6_tittle {
        padding-left: 0;
        text-align: center;
    }

    .sec_6_button {
        width: 45vw;
    }

    time {
        justify-content: center;
        padding-left: 0;
        width: 45vw;
    }

    .sec_6_arrow_right, .sec_6_arrow_left {
        display: none;
    }


    .footer_container {
        max-width: 300px;
        margin: 0 auto 40px;
    }

    .footer_logo {
        width: 60%;
        margin-bottom: 45px;
    }

    .footer_contacts {
        width: 100%;
        font-size: 16px;
        margin-bottom: 45px;
    }

    .footer_contacts_artist {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .artist {
        margin-right: 0;
    }

    .footer_contacts_jake {
        color: #7A66CC;
    }

    .footer_contacts_email{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_media_icons_container {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .footer_contacts_email_link {
        text-transform: lowercase;
        color: #7A66CC;
    }

    .footer_media_icon:not(.facebook) {
        margin-right: 0;
    }

    .footer_media_links {
        padding: 4px;
    }

    .footer_media_icon {
        height: 25px;
        width: 25px;
        border: 6px solid #2C2C2C;
    }

    .footer_icons {
        font-size: 15px;
    }


}