/* X-Small Styles */
@media screen and (max-width: 578px) {
    .wrapper {
        position: relative;
        padding: 25px;
        padding-bottom: 60px;
        background-image: none;
    }

    /*header starts*/
    .header_container {
        z-index: 2;
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        bottom: 0;
        left: 0;
    }

    .header_nav_container {
        width: 100%;
        border-radius: 25px 25px 0 0;
        border-bottom: 2px solid #56555a;
    }

    .header_nav_container.hidden {
        margin-bottom: -520px;
        transition: margin 1s ease;
    }

    .header_logo {
        order: 1;
        justify-content: space-between;
        height: 60px;
        width: 100%;
        margin-right: 0;
    }

    .header_logo,
    .header_nav_container {
        background-color: #2c2b31
    }

    .header_container .navigation-icon {
        display: flex;
        font-size: 25px;
        color: #ffffffad;
        padding: 0 25px;
    }

    .header_nav_container nav {
        margin: 0 auto;
    }

    .header_logo img {
        width: auto;
        height: 30px;
        padding: 0 25px;
    }

    .header_navigation {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        height: auto;
        width: 100%;
        padding: 50px 0;
    }

    /*header ends*/
    /*section 1 starts*/
    h1 > span:first-child {
        font-size: 32px;
        line-height: 55px;
    }

    h1 > span:last-child {
        font-size: 42px;
        line-height: 70px;
    }

    h1 {
        margin-bottom: 175px;
    }

    .sec_1 {
        margin-bottom: 130px;
    }

    .sec_1_player,
    .sec_4_player {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .sec_1_player .player_progress_container,
    .sec_4_player .player_progress_container {
        order: 0;
        margin: 0;
    }

    .sec_1_player .time_info,
    .sec_4_player .time_info {
        order: 1;
        justify-content: space-between;
        width: 100%;
    }

    .sec_1_player .play_button_container,
    .sec_4_player .play_button_container {
        order: 2;
    }

    .sec_1_player .play_button,
    .sec_4_player .play_button {
        width: 64px;
        height: 64px;
        margin: 0;
    }

    .sec_1_player .play_icon,
    .sec_4_player .play_icon {
        font-size: 32px;
        width: 32px;
    }

    .sec_1_player .play_icon.fa-play,
    .sec_4_player .play_icon.fa-play {
        margin-left: 4px;
    }

    .sec_1_player .play_button,
    .sec_4_player .play_button {
        border-radius: 50%;
        background-color: #ffffff1a;
    }

    .sec_1_player .time_info .time-divider,
    .sec_4_player .time_info .time-divider {
        display: none;
    }

    .sec_1_player .time_info .time,
    .sec_4_player .time_info .time {
        font-size: 14px;
    }

    .sec_1_pictures {
        flex-direction: column;
    }

    .sec_1_pictures > a:not(:last-child) > figure {
        margin-bottom: 30px;
    }

    .sec_1_figcaption {
        padding: 18px 20px;
    }


    h2 {
        font-size: 30px;
        margin-left: 20px;
    }

    .sec_2 {
        margin-bottom: 75%;
    }

    .sec_2_aside {
        margin-right: 0;
    }

    .sec_2_heading {
        margin-bottom: 50px;
    }

    .img_diagram_container {
        width: 20%;
    }

    .sec_2_paragraph {
        margin-bottom: 25px;
    }

    .sec_2_theses {
        flex-direction: column;
    }

    .sec_2_block_top, .sec_2_theses_block:first-child {
        margin-bottom: 20px;
    }

    .sec_2_photos {
        display: none;
    }

    .sec_2_paragraph.cut {
        position: relative;
        overflow: hidden;
        height: 260px;
    }

    .sec_2_paragraph.cut::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px; /* Висота тіні */
        background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%, rgb(28 27 33) 100%);
    }

    .sec_2_aside .read-more {
        display: inline;
        margin-bottom: 75px;
        border-bottom: 2px dashed;
    }

    .sec_3_container {
        margin-right: 25px;
        margin-bottom: 130px;
    }

    .sec_3_p_container {
        width: auto;
        padding: 50px 25px;
        z-index: 1;
    }

    .sec_3_foreground_img {
        display: flex;
        z-index: 0;
        opacity: 0.2;
        right: -25px;
        bottom: 103px;
        width: 100%;
    }

    .sec_3_quotes {
        display: none;
    }


    .sec_4_container {
        flex-direction: column-reverse;
    }

    .sec_4_heading {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 30px;
    }

    /* playlist starts */
    .sec_4_tracks_container {
        width: 100%;
    }

    .sec_4_track_list {
        font-size: 16px;
    }

    h4 {
        font-size: 22px;
    }

    div.sec_4_track_list_container {
        margin-bottom: 70px;
    }

    /* playlist ends */
    .sec_4_follow {
        align-items: baseline;
    }

    div.sec_4_streamings > div:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .sec_4_streamings {
        flex-direction: column;
    }

    .sec_4_main_img_container {
        justify-content: center;
        width: 75%;
        padding: 0;
        margin-top: -240px;
        opacity: 0.2;
    }


    .sec_5_container {
        flex-wrap: wrap;
        margin-bottom: 150px;
    }

    .sec_5_left_block {
        order: 1;
        width: 46%;
        margin-bottom: 25px;
        margin-right: 0;
    }

    .sec_5_right_block {
        order: 2;
        width: 46%;
        margin-bottom: 25px;
    }

    .sec_5_central_left {
        margin-right: 25px;
    }

    .sec_5_central_block_top {
        margin-bottom: 25px;
    }

    .sec_5_central_block {
        order: 3;
        margin-right: 0;
    }

    .sec_5_central_left, .sec_5_central_right {
        margin-right: 0;
        width: 46%;
    }

    .sec_5_figcaption {
        font-size: 18px;
    }


    /*slider starts*/
    .sec_6_container {
        flex-direction: column;
        gap: 25px;
        width: 100%;
        margin-bottom: 130px;
    }

    .sec_6_slider_wrapper {
        width: 100%;
    }

    .sec_6_ticket_container {
        max-width: unset;
        max-height: unset;
        width: 100%;
        margin-right: 25px;
    }

    .sec_6_tittle {
        padding-left: 0;
        text-align: center;
    }

    .sec_6_button {
        width: 45vw;
    }

    time {
        justify-content: center;
        padding-left: 0;
    }

    .sec_6_arrow_right, .sec_6_arrow_left {
        display: none;

    }

    #tickets-slider .slider_carousel_dots_container {
        display: flex;
        align-items: center;
        width: 85px;
        overflow: hidden;
    }

    #tickets-slider .carousel_dots_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: margin-left 0.3s;
        gap: 25px;
    }

    #tickets-slider .carousel_dot {
        height: 10px;
        width: 10px;
        background-color: #FFFFFF;
        border-radius: 50%;
        transition: width 0.5s ease;
    }

    #tickets-slider .carousel_dot.active {
        height: 15px;
        width: 15px;
        background-color: #7A66CC;
    }

    /*slider ends*/
    .footer_container {
        max-width: 300px;
        margin: 0 auto 40px;
    }

    .footer_logo {
        width: 60%;
        margin-bottom: 45px;
    }

    .footer_contacts {
        width: 100%;
        font-size: 16px;
        margin-bottom: 75px;
    }

    .footer_contacts_artist {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .artist {
        margin-right: 0;
    }

    .footer_contacts_jake {
        color: #7A66CC;
    }

    .footer_contacts_email {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_media_icons_container {
        flex-wrap: nowrap;
        gap: 0;
        justify-content: space-between;
        width: 100%;
    }

    .footer_contacts_email_link {
        color: #7A66CC;
    }

    .footer_media_icon:not(.facebook) {
        margin-right: 0;
    }

    .footer_media_links {
        padding: 4px;
    }

    .footer_media_icon {
        height: 25px;
        width: 25px;
        border: 6px solid #2C2C2C;
    }

    .footer_icons {
        font-size: 15px;
    }


}