@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #1c1b21;
    background-image: url('../img/background_picture.png');
    background-repeat: no-repeat;
    background-position: top;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    color: white;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 322px;
}

.img {
    width: 100%;
    height: auto;
}

.header_logo {
    display: flex;
    align-items: center;
    padding-top: 0;
    margin-right: 65px;
}

.header_logo a {
    display: flex;
}

.header_text_label {
    display: flex;
    padding-top: 12px;
}

.header_nav_container {
    display: flex;
}

.header_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.header_navigation > li {
    display: flex;
    align-items: center;
    list-style: none;
}

.header_nav_link {
    color: white;
    padding: 28px;
}

.main_container {
    max-width: 1110px;
    margin: 0 auto;
}

.sec_1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 179px;
}

h1 {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 50px;
}

h1 > span:first-child {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

h1 > span:last-child {
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

.sec_1_player {
    margin-bottom: 130px;
}

.sec_1_pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sec_1_pictures > a {
    text-decoration: none;
}

.sec_1_img {
    width: 100%;
    height: auto;
}

.sec_1_img_container {
    display: flex;
}

.sec_1_pictures > a > figure {
    position: relative;
}

.sec_1_figcaption {
    position: absolute;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    width: -webkit-fill-available;
    padding: 21px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    background-color: rgba(122, 102, 204, .5);
    border-radius: 20px 0;
}

.sec_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 236px;
}

.sec_2_aside {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin-right: 5%;
}

.sec_2_heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 60px;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin-left: 30px;
}

article.sec_2_aside > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
    margin-bottom: 60px;
}

.sec_2_theses {
    display: flex;
    flex-direction: row;
}

.sec_2_theses_block {
    display: flex;
    flex-direction: column;
}

.sec_2_block_top {
    margin-right: 40px;
    margin-bottom: 30px;
}

div.sec_2_theses_block > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.sec_2_theses_block > div > p {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.sec_2_marker {
    display: flex;
    height: 30px;
    width: 30px;
    background-color: #7A66CC;
    border-radius: 10px 0;
    margin-right: 20px;
}

.sec_2_photos {
    /*position: relative;*/
    display: flex;
    max-width: 445px;
}

.sec_2_img {
    width: auto;
    height: auto;
}

.sec_2_foreground_img {
    z-index: 1;
    /*margin-right: 95px;*/
    /*margin-top: 0;*/
    /*position: absolute;*/
    /*right: 95px;*/
    /*bottom: 66px;*/
}

.sec_2_background_img {
    z-index: 0;
    margin-left: -255px;
    margin-top: 66px;
}


.sec_3_container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 265px;
    border: 1px solid white;
    border-radius: 30px 0;
}

.sec_3_p_container {
    display: flex;
    flex-direction: column;
    width: 520px;
    padding: 50px 0 50px 80px;
}

div.sec_3_p_container > p:first-child {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(227, 227, 227, 0.6);
}

div.sec_3_p_container > p:nth-child(2) {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #7A66CC;
}

.sec_3_quotes {
    position: absolute;
    top: 54px;
}

.sec_3_foreground_img {
    position: absolute;
    right: 80px;
}

.sec_4_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 180px;
}

.sec_4_main_img_container {
    display: flex;
    padding-left: 18px;
}

.sec_4_main_img {
    border-radius: 100%;
    padding: 18px;
    background-color: rgba(122, 102, 204, 0.6);
    box-shadow: 0 0 0 18px rgba(122, 102, 204, 0.3);
}

.sec_4_tracks_container {
    display: flex;
    flex-direction: column;
}

.sec_4_heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 60px;
}

.img_diagram_container {
    display: flex;
}

h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin-left: 30px;
}

.sec_4_player {
    margin-bottom: 50px;
}

.sec_4_track_list_container {
    margin-bottom: 50px;
}

.sec_4_track_list {
    counter-reset: item;
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: inherit;
}

.sec_4_container .sec_4_track_list .sec_4_track_list_item {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px;
    width: inherit;
}

.sec_4_container .sec_4_track_list .sec_4_track_list_item:before {
    content: counter(item, decimal-leading-zero) " ";
    counter-increment: item;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF50;
}

.sec_4_container .sec_4_track_list .sec_4_track_list_item a {
    padding-left: 16px;
    overflow: hidden;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.sec_4_container .sec_4_track_list .sec_4_track_list_item a.active {
    font-weight: 600;
    color: #7A66CC;
}
/* playlist ends */



.sec_4_follow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sec_4_streamings {
    display: flex;
    flex-direction: row;
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-right: 40px;
}

.sec_4_streamings > div > a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

div.sec_4_streamings > div:first-child {
    margin-right: 30px;
}

.sec_4_spotify_block, .sec_4_itunes_block {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.sec_4_icons {
    font-size: 20px;
    margin-right: 15px;
}

.sec_5_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 180px;
}

.sec_5_img_link {
    display: flex;
}

.sec_5_img_container {
    display: flex;
}

.sec_5_left_block {
    margin-right: 30px;
}

.sec_5_central_block {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.sec_5_central_block_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sec_5_central_left {
    margin-right: 30px;
}

.sec_5_central_block_bottom {
    position: relative;
    display: flex;
}

.sec_5_figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #7A66CC;
}


.sec_6_container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 200px;
}

.sec_6_block_container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 475px;
    background: #2F2B2B;
    border-radius: 30px 0;
}

.sec_6_slider_wrapper {
    display: flex;
    flex-direction: row;
}

.first_ticket, .second_ticket{
    margin-right: 30px;
}

.sec_6_img_container {
    display: flex;
}

.sec_6_photo {
    display: flex;
}

h5 {
    padding-left: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.sec_6_h5_span {
    display: inline-flex;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF50;
}

.sec_6_block_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 100%;
}

time {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 40px;
    width: 170px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF50;
}

.sec_6_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 180px;
    background-color: #7A66CC;
    border-radius: 30px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sec_6_arrow_left {
    position: absolute;
    left: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 40px;
    border: 1px solid #FFFFFF50;
    border-radius: 10px 0;
}

.sec_6_arrow_right {
    position: absolute;
    right: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 40px;
    border: 1px solid #FFFFFF50;
    border-radius: 10px 0;
}

.fa-arrow-left-long, .fa-arrow-right-long {
    color: #FFFFFF50;
}

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.footer_logo {
    margin-bottom: 60px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    line-height: 27px;
    width: 564px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.footer_contacts_bold {
    margin-right: 30px;
    font-weight: 600;
}

.footer_contacts_email_link {
    text-decoration: none;
    color: #FFFFFF;
}

.footer_contacts_email {
    text-align: right;
}

.footer_media_icons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.footer_media_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background-color: #7A66CC;
    border-radius: 100%;
    border: 8px solid #2C2C2C;
}

.footer_icons {
    font-size: 24px;
}

.footer_youtube {
    font-size: 18px;
}

.footer_twitter {
    font-size: 20px;
}

.footer_media_links {
    display: flex;
    color: white;
}

.footer_media_icon:not(.facebook) {
    margin-right: 30px;
}

.footer_bottom {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF50;
}




